pakage/
Test_Angular/
aicc-test/
aicctest/
upload/
.idea/
.settings/
testeasyui/
inc/mysql.php

#ide
.idea/
.settings/*

#windows
*.ini

#sql
*.sql

ztemp.php

new.txt
log.html
inc/mysql.php

php_err.log

*.bak
